@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.divbar {
    
    position: absolute;
    top: 0px;
    /** background: -webkit-linear-gradient(top, rgba(230, 230, 230, 1), rgba(200, 200, 200, 1));*/
    height: 16%;
    width: 100%;
    
}

.icono1 {
    
    position: relative;
    width: 98%;
    height: 100%;
    left: 2%;
    top: 1%;
    background-image: url(../../img/Logo_CDMX2.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.icono2 {
    
    position: absolute;
    width: 330px;
    height: 90px;
    right: 0px;
    top: 1%;
    background-image: url(../../img/unnamed.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.contenedor {
    
    position: absolute;
    top: 16%;
    width: 100%;
    height: 84%;
    overflow-y: auto;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    
}

.marco_formulario {
    
    position: relative;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 40%;
    background-color: red;
    
}

.marco_botones {
    
    width: 100%;
    background-color: cadetblue;
    padding: 4px;
    
}

.tfalla {
    
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.4));;
    text-align: center;
    
}

.marco_botones a {
    
    text-decoration: none;
    font-size: 18px;
    color: darkgreen;
    
}

.marco_botones a:hover {
    
    color: black;
    font-weight: bold;
    
}

label.btn.btn-primary {
    color: #fff;
    background-color: darkcyan;
    border-color: cadetblue;
    width: 100%;
}

label.btn.btn-primary:hover {
    
    color: black;
    font-weight: bold;
    background-color: aquamarine;
    
}

.btn-outline-success {
    
    margin-top: 20px;
    width: 100%;
    left: 0px;
    
}

a.btn.btn-outline-danger {
    
    margin-top: 20px;
    width: 100%;
    left: 0px;
    
}

@media (max-width: 1200px) {
    
    .icono2 {
        
        /* visibility: hidden;*/
        color: white;
        
    }
    
}
a {
    /* color: #0d6efd; */
    text-decoration: underline;
}
