@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.divbar {
    
    position: absolute;
    top: 0px;
    /** background: -webkit-linear-gradient(top, rgba(230, 230, 230, 1), rgba(200, 200, 200, 1));**/
    height: 16%;
    width: 100%;
}

.icono1 {
    
    position: relative;
    width: 98%;
    height: 100%;
    left: 2%;
    top: 1%;
    background-image: url(../../img/Logo_CDMX2.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.icono2 {
    
    position: absolute;
    width: 330px;
    height: 90px;
    right: 0px;
    top: 1%;
    background-image: url(../../img/unnamed.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}
.container {
    width: 100%;
    height: 100%;
    float: left;
}

.encabezado {
    height: 80px;
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 1), rgba(230, 230, 230, 1));
    float: left;
}

@media (max-width: 1200px) {
    .icono2 {
        
        visibility: hidden;
        color: rgb(143, 11, 11);
        
    }
    
}