@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.divbar {
    
    position: absolute;
    top: 0px;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(255, 255, 255));
    height: 16%;
    width: 100%;
    
}

.icono1 {
    
    position: absolute;
    width: 98%;
    height: 100%;
    left: 2%;
    top: 1%;
    background-image: url(../../img/prosoclogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.icono2 {
    
    position: absolute;
    width: 330px;
    height: 90px;
    right: 0px;
    top: 1%;
    background-image: url(../../img/unnamed.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-size: cover;
    color: rgb(104, 46, 46);
    font-size: 140%;
    font-weight: bold;*/
    
}

.contenedor {
    
    position: absolute;
    width: 100%;
    height: 84%;
    overflow-y: auto;
    border-width: 0px;
    border-style: solid;
    border-color: black;
    
}

.card {
    
    position: absolute;
    width: 34%;
    left: 34%;
    top: 35%;
    
}

footer{
    
    position: absolute;
    bottom: 40px;
    right: 0px;
    width: 100%;
    color: white;
    
}

@media (max-width: 1200px) {
  
    .icono2 {
        
        visibility: hidden;
        color: white;
        
    }
    
}